body {
    background-color: #ffffff;
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: Helvetica;
    text-align: center;
}

#message {
    background-color: #f6f7e9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px #c7c7c7;
    margin-bottom: 20px;
}

#birthdaymessage {
    background-color: #a9e2e6;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px #c7c7c7;
    margin-bottom: 20px;
}

.button {
    margin: 3px;
    background-color: #fa78af;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 3px 3px 5px #c7c7c7;
    display: inline-block;
    cursor: pointer;
}

.button:active {
    background-color: #f41372;
}

p {
    font-size: 20px;
    color: #f71269;
}

h1 {
    font-size: 40px;
    text-shadow: 1px 1px 5px grey;
    color: #f71269;
    transition: 10s;
}

h2 {
    font-size: 30px;
    text-shadow: 1px 1px 5px grey;
    color: #9f0c44;
}

h3 {
    margin: 10px;
    font-size: 40px;
    text-shadow: 5px 5px 10px grey;
    color: #ddf712;
}

h4 {
    margin: 10px;
    font-size: 20px;
    text-shadow: 5px 5px 10px grey;
    color: #f7e412;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 10px auto;

    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.tile {

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    margin: 5px;

    border-radius: 5px;
    box-shadow: 5px 5px 10px #a8a8a8;
    border: 1px solid #333333;
    cursor: pointer;

    font-size: 60px;
    color: rgb(133, 210, 208);
    text-shadow: 3px 3px 6px #a8a8a8;
    
}

.tile:active {
    background-color: rgb(191, 176, 157);
    box-shadow: 1px 1px 3px rgb(203, 198, 198);
    border: 1px solid #333333;
    transition: .3s;

}
